@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="flex flex-col items-center justify-baseline">
        @Body
    </main>
</div>
