@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div>
    <button @onclick="GoToCreateGame" class="btn btn-primary">Create Game</button>
</div>


@code {
    public void GoToCreateGame()
    {
        NavigationManager.NavigateTo("/edit-game");
    }
}
