<!DOCTYPE html>
<html lang="en" class="scroll-smooth fucus:scroll-auto">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet"
              href="@Assets["GameStore.Frontend.styles.css"]" />
        <link rel="stylesheet" href="css/app.min.css" />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <ImportMap />
        <HeadOutlet />
    </head>

    <body>
        <Routes />
        <script src="js/site.js"></script>
        <script src="_framework/blazor.web.js"></script>

    </body>

</html>
