@using VivaKrWeb.Shared.Services
@inherits LayoutComponentBase
@inject IJSInteropService JSInteropService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div
             class="flex items-center justify-end px-4 w-full !bg-sky-950 sticky top-0 z-50 h-12">
            <a href="/Code/Code"
               class="text-slate-300 hover:text-rose-500">Profile</a>
        </div>

        <div class="m-0 p-0">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSInteropService.InitializeBootstrapPlugins();
        }
    }
}
