@page "/playground"
<PageTitle>PlayGround</PageTitle>

<div class="md:container md:mx-auto">
  <nav class="flex justify-center space-x-4">
    <a class="font-bold px-3 py-2 text-slate-700 rounded-lg
        hover:text-slate-900"
       href="/projects">Projects</a>
    <a class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:text-slate-900"
       href="/report">Reports</a>
    <a class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:text-slate-900"
       href="/dashboard">Home</a>
    <a class="font-bold px-3 py-2 text-slate-700 rounded-lg
        hover:text-slate-900"
       href="/team">Team</a>
  </nav>

  <div class="flex justify-center items-center">
    <img src="images/avata.png"
         class="w-24 m-4 rounded-full ring-2 ring-slate-400" alt="avata">
    <div>
      <strong>ViVaKR</strong>
      <span>Technical Advisor</span>
    </div>
  </div>

  <div class="columns-[10rem] gap-8 px-4 my-8">
    <img class="w-full aspect-square" src="images/lake.webp" alt="">
    <img class="w-full aspect-square" src="images/hills.webp" alt="">
    <img class="w-full aspect-square" src="images/robot-man.webp" alt="">
    <img class="w-full aspect-square" src="images/robot-woman.webp" alt="">
    <img class="w-full aspect-square" src="images/summer.png" alt="">
    <img class="w-full aspect-square" src="images/cow-alone.png" alt="">
  </div>


  @* float  *@

  <div class="m-8">
    <img src="images/robot-man.webp"
         class="float-end w-48 mr-4 mb-1 ring-4 ring-brown-500 rounded-full shadow-lg shadow-red-400"
         alt="">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
      accusantium voluptatibus animi totam
      harum illum, eveniet ea inventore qui itaque? Suscipit earum facere
      inventore necessitatibus temporibus,
      excepturi vel officiis voluptatibus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quam,
      error aspernatur sapiente accusamus dicta
      dolor blanditiis fugit molestiae aut quo doloribus exercitationem
      voluptatum! Quaerat ipsa iste ipsam
      veritatis perspiciatis.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae,
      soluta consequatur vel sit porro quia
      commodi voluptates harum ipsam fugit, error dolores. Velit officia
      corporis ad vel? Eligendi, cum dolorum.
    </p>
  </div>

  <div class="m-8">
    <img src="images/cow-alone.png"
         class="h-auto w-full rounded-3xl object-contain hover:object-scale-down"
         alt="">
  </div>

  <div class="m-8 w-full grid grid-cols-4 gap-1">
    <img src="images/robot-man.webp"
         class="object-left-top w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-top w-24 h-24 rounded-3xl object-scale-down" alt="">
    <img src="images/robot-man.webp"
         class="object-right-top w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-left w-24 h-24 rounded-3xl object-scale-down" alt="">
    <img src="images/robot-man.webp"
         class="object-center w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-right w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-left-bottom w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-left-bottom w-24 h-24 rounded-3xl object-scale-down"
         alt="">
    <img src="images/robot-man.webp"
         class="object-scale-down object-bottom w-24 h-24 rounded-3xl "
         alt="">
    <img src="images/robot-man.webp"
         class="object-right-bottom w-24 h-24 rounded-3xl object-scale-down"
         alt="">
  </div>

  <div
       class="overscroll-auto w-full h-48 overflow-y-scroll rounded-xl p-8 border-slate-400 bg-sky-300">
    스크롤 효과
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eos
    fuga, tempora magnam eveniet at rerum
    dolorum inventore facilis nostrum consequatur quaerat harum rem autem
    repellat deserunt ad quasi. Corporis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
    similique quia aut magni molestias
    voluptatem obcaecati eligendi! Inventore dolores id, deserunt suscipit
    nemo corrupti natus ipsa iste soluta,
    nisi explicabo.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
    molestiae repellendus eveniet? Temporibus
    possimus eligendi in facilis repellat sunt quos quia eum aut et!
    Corporis eveniet nesciunt voluptatum doloribus
    voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
    corrupti est doloribus provident placeat qui
    distinctio, officiis molestiae quos et alias itaque, recusandae nemo
    perferendis dicta nulla reprehenderit,
    omnis delectus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eos
    fuga, tempora magnam eveniet at rerum
    dolorum inventore facilis nostrum consequatur quaerat harum rem autem
    repellat deserunt ad quasi. Corporis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
    similique quia aut magni molestias
    voluptatem obcaecati eligendi! Inventore dolores id, deserunt suscipit
    nemo corrupti natus ipsa iste soluta,
    nisi explicabo.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
    molestiae repellendus eveniet? Temporibus
    possimus eligendi in facilis repellat sunt quos quia eum aut et!
    Corporis eveniet nesciunt voluptatum doloribus
    voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
    corrupti est doloribus provident placeat qui
    distinctio, officiis molestiae quos et alias itaque, recusandae nemo
    perferendis dicta nulla reprehenderit,
    omnis delectus?
  </div>

  <div class="relative w-full h-96 rounded-xl bg-yellow-400 my-8">
    <p>static Parent</p>
    <div
         class="absolute left-0 bottom-0 border-red-500 w-24 text-white z-40 h-24 content-center text-center bg-red-500">
      <p>Child</p>
    </div>
  </div>

  @* sticky *@

  <div
       class="h-48 w-full bg-slate-200 overflow-y-scroll ring-4 my-8 ring-slate-300 px-4">
    <div class="sticky top-0 bg-white">Title A</div>
    <div class="bg-rose-200">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
      aperiam! Dolor voluptatem perferendis
      consequatur ut pariatur veritatis rem aperiam reiciendis commodi
      maxime! Blanditiis adipisci harum non iusto
      ipsa ex. Autem.
      Placeat, necessitatibus ducimus. Nesciunt, quas accusantium.
      Veritatis unde odit placeat nulla ad explicabo
      provident quaerat, iure debitis distinctio iste vitae aut eius
      possimus, odio recusandae consectetur quis
      maiores dicta blanditiis?
      Sunt fuga veritatis deleniti culpa cum, labore eveniet rerum tempore
      saepe consequatur nulla nobis rem dolor
      molestias aspernatur tempora maiores voluptatum delectus,
      exercitationem nihil vero. Nulla quis expedita
      modi ipsum?
      Recusandae quae esse, laudantium tempore commodi laboriosam rerum
      quaerat eveniet, non sapiente deleniti
      corporis doloribus at totam laborum, assumenda facere beatae? Ipsum
      similique architecto excepturi sapiente
      soluta labore pariatur quo?
      Dolores, distinctio modi? Ab quae alias, earum, magni laudantium
      nemo sed laboriosam error officiis in ipsa
      facere. Exercitationem animi similique dignissimos obcaecati,
      commodi quo iure itaque enim repudiandae
      laudantium in?
      Veniam nam ducimus repellendus, iusto libero id ipsam distinctio
      voluptas. Iure maiores, dicta ea vitae
      excepturi iste consequatur eius quasi laudantium, laborum officia
      amet quos sunt molestias quis! Eos, iusto!
      Ipsa doloribus sed voluptate illo asperiores dolorum et enim
      deserunt. Tempore a illo modi hic repellendus
      quas recusandae accusamus laudantium, ex, dolores delectus.
      Cupiditate nisi, vel incidunt non ex
      dignissimos!
      Molestiae sunt omnis nesciunt incidunt excepturi qui quis,
      voluptatum accusantium praesentium ad sapiente!
      Eveniet accusantium repellendus pariatur saepe, laudantium,
      similique quaerat, culpa aut qui dolores quam
      voluptatibus voluptate fugiat incidunt?
      Doloribus veritatis incidunt earum adipisci eaque repellendus, dicta
      consequatur, ab, culpa porro qui eum
      fuga perferendis? Assumenda non voluptatem fugiat? Delectus quasi
      placeat exercitationem consectetur
      accusantium ullam impedit enim laboriosam!
      Ad, iure expedita architecto voluptas earum nihil officiis, deleniti
      provident inventore voluptatum, tempora
      numquam vitae asperiores. Sunt, ipsam adipisci! Voluptate itaque
      veritatis necessitatibus delectus ex omnis
      expedita nam quas est!
      Obcaecati, ullam sunt! Fugit temporibus saepe, et asperiores
      similique, neque nihil voluptas architecto
      atque incidunt placeat labore commodi aperiam minus voluptatibus
      perspiciatis optio eaque voluptatem
      excepturi? Nobis, suscipit libero? A?
      Nostrum eaque earum, reiciendis aperiam et repudiandae. Optio
      dolores magnam cupiditate excepturi veritatis
      assumenda nesciunt ut ipsa laudantium laboriosam repellat
      perferendis doloribus vitae dolorum dolor, vero,
      repudiandae rem? Assumenda, molestiae?
      Velit optio, tempora maxime sed eos provident eligendi accusamus
      necessitatibus quasi perferendis atque
      error et possimus animi voluptate ullam neque, alias nesciunt
      officia, est commodi. Non ipsum quos officiis
      alias!
      Fuga, repudiandae alias in ducimus ex dolor velit recusandae fugiat
      voluptates ut maiores quisquam sit
      quasi, quas a ab sapiente rerum nostrum ipsum vero voluptatibus ad
      ea. Dolorem, commodi nobis?
      Assumenda illum ducimus sunt vel tempora quia distinctio possimus
      minima rem ipsa vitae consequuntur sit
      delectus, tenetur ratione facere iste hic impedit! Ratione quam rem
      reprehenderit voluptatibus commodi in
      architecto?
      Ab neque voluptates est et explicabo, iusto vero cum iste natus
      provident, sint quasi ipsam temporibus quod
      soluta aut! Id corporis dolores quibusdam accusantium unde
      voluptatum adipisci temporibus dolor quo!
      Reiciendis animi, fugiat excepturi quaerat ut, deserunt libero
      ratione sint atque modi odit voluptatem
      assumenda commodi saepe. Ab non eos pariatur nam, consectetur,
      doloribus repellendus odio consequuntur vero
      molestiae at!
      Quis optio numquam nostrum obcaecati rerum velit ullam, quasi totam
      mollitia reprehenderit. Deserunt vel
      itaque ex explicabo quisquam asperiores, consequatur ipsam atque
      error amet ratione, reiciendis eos sint
      nihil sed.
      Nisi suscipit adipisci provident excepturi repellendus error,
      voluptatibus non recusandae ab, natus, maxime
      ipsa dolore. Nostrum sunt, quisquam, eos dolore minima nobis odit
      fugit obcaecati fugiat quas vitae
      aspernatur aliquid?
      Iste, saepe asperiores amet, non delectus quam placeat, dolor
      necessitatibus dignissimos ut aliquam
      molestias inventore accusamus! Nulla, consectetur ducimus eligendi
      esse ut vitae cupiditate aut, quam
      laborum id maxime nisi.
      Unde ipsum exercitationem assumenda distinctio repudiandae
      aspernatur, nemo eius quos eaque ab molestias
      officia. Omnis, molestias deserunt saepe veritatis sapiente a
      obcaecati sit consequatur at non ex possimus
      error incidunt.
      Corporis vel dolores quis, doloribus unde explicabo libero
      consequatur quae nam obcaecati qui, repellendus
      laboriosam numquam delectus alias. Quasi consequatur iste nihil
      inventore mollitia repellendus nulla ut aut
      obcaecati. Recusandae.
      Maiores esse ullam aperiam doloribus sequi nihil, rem minus nulla?
      Itaque voluptas dolorum, fugit, incidunt
      optio reprehenderit, eligendi magnam eius est esse dicta dolorem
      ipsam aliquam modi? Fuga, molestias libero.
      Quasi deserunt libero ex accusantium vero tempore perspiciatis
      minima, reiciendis ea natus aliquam totam
      quisquam autem rem dolor incidunt sed, laborum, amet ab vitae?
      Libero dolores numquam nostrum ipsam ipsum?
      Debitis, vitae consectetur. Hic ut cumque delectus autem tempora
      voluptas repudiandae, nisi velit nam
      consectetur eveniet itaque culpa omnis mollitia quo molestias fuga
      deserunt, veniam, vero suscipit esse
      officia ex?
      Excepturi libero ex, est similique quia praesentium quis accusamus
      iste neque enim vel vero dicta recusandae
      tempore voluptatibus, perferendis aperiam natus culpa voluptas, quam
      pariatur illo rem. Aliquid, omnis
      quaerat!
      Sit, illum veritatis. Numquam in repellendus voluptas labore cum.
      Sint dignissimos numquam aperiam voluptas
      libero quod, eveniet optio iure cupiditate. Alias impedit, nostrum
      ut ex eveniet fugiat deleniti sapiente
      debitis!
      Fugiat, esse dolorem iusto accusamus magnam eius, mollitia soluta
      repellat sequi maiores hic deleniti illum
      laborum. Perspiciatis minus culpa dolore eum explicabo, debitis
      ullam. Nostrum animi pariatur ipsam in
      nihil!
      Possimus dolorum, voluptate officia facilis sapiente repellat
      impedit earum? Corporis rem sed fugiat. Quis
      porro corrupti officia nemo exercitationem iure at recusandae fuga.
      Sit fuga est recusandae quam earum
      reiciendis.
      Impedit, facere. Repellendus, tenetur eveniet illo cumque
      voluptatibus officia tempore natus? Saepe nemo
      cumque expedita, dolor deserunt ipsa sit dolores dolorum incidunt
      minima voluptas, enim excepturi tenetur
      esse voluptates. Quo!
    </div>

    <div class="sticky top-0 bg-white">Title B</div>
    <div class="bg-teal-300">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique,
      harum veniam. Recusandae obcaecati ad
      consectetur illo, id, eos ipsum voluptatem labore tempore, placeat
      dolorem ullam sit nam corporis nemo
      numquam.
      Tempora sapiente cumque similique architecto magni! Nesciunt
      eligendi iusto, quis asperiores nobis quod.
      Ipsam consequuntur aut explicabo quam, error vel, velit cumque
      maiores voluptatum ea non autem dolorum
      quisquam esse?
      Dolorum quisquam dignissimos autem ullam commodi aspernatur. Rem,
      sapiente. Accusantium atque, natus dolor,
      impedit, eius cupiditate ullam deleniti sequi nihil modi saepe? Amet
      temporibus, id deleniti itaque qui
      reprehenderit accusantium!
      Unde architecto nihil aut amet maiores asperiores repellendus
      quaerat eum distinctio. Unde quisquam nam,
      similique dolor, odit rerum ipsam earum commodi corrupti velit
      cumque! Libero vel eius adipisci optio et.
      Esse quidem excepturi asperiores distinctio fugiat corrupti,
      delectus atque error obcaecati sed, amet ab
      labore perferendis maxime dolorem. Voluptate esse animi perferendis
      natus possimus at eveniet quos? Tempore,
      quos doloribus.
      Velit inventore quisquam eius at nemo minima, tempora beatae libero
      dolore error. At, inventore facilis sed
      nostrum aperiam perferendis aliquid esse laboriosam quia quidem,
      explicabo voluptatum? Aliquid ea quas
      quasi.
      Voluptatem facere distinctio perspiciatis ab libero tempore?
      Delectus iure omnis in recusandae impedit
      adipisci amet at beatae obcaecati quas, corrupti nam sit aliquid,
      molestias soluta iusto rem accusamus!
      Quis, delectus?
      Temporibus perferendis debitis fuga repellat, placeat optio ipsam
      ullam eveniet quisquam repudiandae? Iure
      numquam veniam, illo totam doloribus dignissimos quibusdam nostrum
      tenetur qui ut veritatis, deserunt
      asperiores libero quod earum.
      Debitis natus repudiandae sequi quia sapiente, reprehenderit
      laboriosam consequatur reiciendis dolores
      libero sed incidunt repellendus molestiae suscipit? Eveniet, numquam
      sed. Sequi dolores eligendi similique
      odit fugiat non debitis esse aut.
      Minima iure ea, doloribus, cumque nam harum nulla, maxime voluptates
      vero recusandae expedita nisi quae
      eveniet praesentium distinctio ad in veniam dignissimos et
      asperiores laborum sequi! Beatae quo cumque
      explicabo!
    </div>
    <div class="sticky top-0 bg-white">Title C</div>
    <div class="bg-sky-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
      possimus iste enim, nisi, fugiat
      consequuntur placeat ipsum eos dolore, incidunt deserunt sit
      recusandae animi vel cumque unde culpa libero
      itaque!
      Nam ab culpa enim, error doloribus aliquid, esse minima odio natus a
      at! Ipsa sequi asperiores architecto
      enim dolor et, in delectus! Accusantium harum nostrum architecto nam
      doloribus eveniet quibusdam?
      Adipisci, qui iusto repudiandae expedita ipsam earum soluta sed
      laborum quis praesentium rerum ad dolore
      perferendis. Doloribus, alias aliquam. Nam laboriosam praesentium
      labore error voluptatum excepturi culpa
      enim, sapiente voluptatem.
      Temporibus, possimus maxime, animi nam nesciunt excepturi fuga esse
      expedita quos earum recusandae maiores
      dolorem rerum culpa ipsa quidem qui quisquam ex. Consequatur
      sapiente accusamus fugit velit odio nobis
      aperiam?
      Mollitia dolor corporis earum delectus exercitationem! Sint, iure
      facilis. Ducimus architecto culpa
      perferendis, magni velit sequi sed dicta nemo voluptates laborum
      vitae impedit nihil. Est, iste vero. Non,
      necessitatibus numquam.
    </div>
  </div>

  <div class="my-8 grid grid-cols-4">
    @* left/right/bottom/top *@
    <div class="relative h-32 w-32 border-2 my-8 border-red-500">
      <div class="absolute left-0 top-0 h-16 w-16 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-red-500 border-2">
      <div class="absolute right-0 top-0 h-16 w-16 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-red-500 border-2">
      <div class="absolute inset-x-0 top-0 h-16 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute inset-y-0 w-16 bg-red-500 left-0"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute right-0 bottom-0 w-16 h-16 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute h-16 inset-x-0 bottom-0 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute inset-y-0 right-0 w-16 bg-red-500"></div>
    </div>
    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute w-16 h-16 bg-red-500 left-0 bottom-0"></div>
    </div>

    <div class="relative h-32 w-32 my-8 border-2 border-red-500">
      <div class="absolute bg-red-500 w-14 h-14 -left-4 -top-4"></div>
    </div>

    <div dir="ltr">
      <div class="relative h-32 w-32 border-2 border-red-500 my-8">
        <div class="absolute bg-red-500 w-14 h-14 top-0 start-0"></div>
      </div>
    </div>

    <div dir="rtl">
      <div class="relative w-32 h-32 border-2 border-red-500 my-8">
        <div
             class="absolute start-0 w-14 h-14 bg-red-500 top-0 hover:top-2 hover:start-2">
        </div>
      </div>
    </div>
  </div>

  @* table *@
  <div class="table w-full my-8">
    <div class="table-header-group">
      <div class="table-row bg-slate-200">
        <div class="table-cell text-center">Song</div>
        <div class="table-cell text-center">Artist</div>
        <div class="table-cell text-center">Year</div>
      </div>
    </div>
    <div class="table-row-group">
      <div class="table-row">
        <div class="table-cell">The Sliding Mr. Bones (Next Stop,
          Pottersville)</div>
        <div class="table-cell">Malcolm Lockyer</div>
        <div class="table-cell">1961</div>
      </div>
      <div class="table-row collapse">
        <div class="table-cell">Witchy Woman</div>
        <div class="table-cell">The Eagles</div>
        <div class="table-cell">1972</div>
      </div>
      <div class="table-row">
        <div class="table-cell">Shining Star</div>
        <div class="table-cell">Earth, Wind, and Fire</div>
        <div class="table-cell ">1975</div>
      </div>
    </div>
  </div>

  <div class="columns-2">
    <p>Hello</p>
    <p>Hello 2</p>
    <p>Hello World</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
  </div>



  <div class="grid grid-cols-3 gap-4 gird-rows-3 text-center my-8">
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">01
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">02
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">03
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">04
    </div>
    <div
         class="px-4 py-2 ronunded invisible bg-rose-500 text-center rounded-md">
      05</div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">06
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">07
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">08
    </div>
    <div class="px-4 py-2 ronunded bg-rose-500 text-center rounded-md">09
    </div>
  </div>

  <div
       class="flex flex-row relative my-16 !bg-[#1da1f2] items-center h-24 w-full">
    <div
         class="w-14 h-14 rounded-full absolute content-center text-center ring-2 ring-white left-0 z-40 bg-rose-500">
      05</div>
    <div
         class="w-14 h-14 rounded-full absolute content-center text-center ring-2 ring-white left-[3rem] z-30 bg-rose-500">
      04</div>
    <div
         class="w-14 h-14 rounded-full absolute content-center text-center ring-2 ring-white left-[6rem] z-20 bg-rose-500">
      03</div>
    <div
         class="w-14 h-14 rounded-full absolute content-center text-center ring-2 ring-white left-[9rem] z-10 bg-rose-500">
      02</div>
    <div
         class="w-14 h-14 rounded-full absolute content-center text-center hover:z-50 ring-2 ring-white left-[12rem] z-0 bg-rose-500">
      01</div>
  </div>

  @* box-border *@
  <div
       class="box-border hover:box-content h-32 w-32 p-4 border-4 content-center text-center text-white border-slate-500 bg-red-500">
    <p>box-border</p>
  </div>

  @* grid *@
  <h2 class="mt-8 text-slate-500">그리드</h2>
  <div class="grid grid-cols-4 gap-1 my-8">
    <div
         class="grid grid-rows-subgrid row-start-1 row-span-3 content-center text-center rounded-lg">
      <div
           class="bg-rose-500 row-start-1 content-center text-center text-white rounded-lg row-span-3">
        01</div>
    </div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      02</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      03</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      04</div>
    <div
         class="bg-rose-500 col-start-2 col-span-2 px-4 py-2 content-center text-center rounded-lg">
      05</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      06</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      07</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      08</div>
    <div
         class="bg-rose-500 px-4 py-2 content-center text-center rounded-lg">
      09</div>
  </div>

  <div class="grid grid-cols-6 gap-4">
    <div
         class="content-center text-center col-start-2 col-span-4 h-14 bg-rose-400 rounded-lg">
      01</div>
    <div
         class="content-center text-center col-start-1 col-end-3 h-14 bg-rose-400 rounded-lg">
      02</div>
    <div
         class="content-center text-center col-end-7 col-span-2 h-14 bg-rose-400 rounded-lg">
      03</div>
    <div
         class="content-center text-center col-start-1 col-end-7 h-14 bg-rose-400 rounded-lg">
      04</div>
  </div>

  <div class="grid grid-rows-4 grid-flow-col gap-4 my-8">
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">01
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">02
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">03
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">04
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">05
    </div>
    <div class="grid grid-rows-subgrid gap-4 row-span-3">
      <div
           class="bg-violet-400 row-start-1 row-span-3 rounded-lg content-center text-center">
        06</div>
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">07
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">08
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">09
    </div>
    <div class="h-16 bg-violet-400 rounded-lg content-center text-center">10
    </div>
  </div>

  <div
       class="grid grid-rows-[200px_minmax(0,_1fr)_100px] w-48 h-[7 0dvh] gap-2">
    <div class="w-full rounded-md bg-teal-400 content-center text-center">01
    </div>
    <div
         class="w-full rounded-md bg-indigo-500 text-white content-center text-center">
      02</div>
    <div class="w-full rounded-md bg-yellow-500 content-center text-center">
      03</div>
  </div>

  @* flex *@

  <div class="flex flex-initial justify-center gap-2 my-8 px-4">
    <div
         class="basis-1/3 p-4 border-2 rounded-xl content-center text-center border-red-500 bg-rose-500 text-white">
      1
    </div>
    <div
         class="basis-[28%] p-4 border-2 rounded-xl content-center text-center border-red-500 bg-rose-500 text-white">
      2
    </div>
    <div
         class="basis-1/3 p-4 border-2 rounded-xl content-center text-center border-red-500 bg-rose-500 text-white">
      3
    </div>
  </div>

  <div class="flex gap-2 px-4">
    <div class="flex-none h-14 w-14 px-4 py-2 rounded-lg bg-rose-500 ">none
    </div>
    <div class="grow h-14 px-4 py-2 rounded-lg bg-rose-500">grow</div>
    <div class="grow-0 w-32 h-14 px-4 py-2 rounded-lg bg-rose-500">grow-0
    </div>
    <div class="flex-none h-14 w-14 px-4 py-2 rounded-lg bg-rose-500">none
    </div>
  </div>


  <div class="flex gap-2 my-8 px-4">
    <div class="flex-none h-14 w-14 px-4 py-2 rounded-lg bg-rose-500 ">none
    </div>
    <div class="grow h-14 px-4 py-2 rounded-lg bg-rose-500">grow</div>
    <div class="shrink-0 w-64 h-14 px-4 py-2 rounded-lg bg-rose-500">
      shrink-0</div>
    <div class="flex-none h-14 w-14 px-4 py-2 rounded-lg bg-rose-500">none
    </div>
  </div>

  <div class="flex justify-between px-4 gap-2">
    <div class="order-last h-14 w-1/3 bg-indigo-400">01</div>
    <div class="h-14 w-1/3 bg-indigo-400">02</div>
    <div class="order-first h-14 w-1/3 bg-indigo-400">03</div>
  </div>

  <div class="flex my-4 w-full box-border h-96 bg-slate-400 space-x-4">
    <div class="h-16 w-16 bg-rose-400">01</div>
    <div class="size-16 bg-yellow-400">02</div>
    <div class="h-16 w-16 bg-rose-400">03</div>
  </div>

  @*  *@
  <div class="my-8 text-xl subpixel-antialiased">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    <span class="inline text-violet-400">display: inline</span>
    Quisquam, dolore. Deleniti distinctio quaerat, saepe
    ab
    voluptatem, iste rerum esse ipsum at expedita, magni dolor maiores
    facilis sit! Magni, impedit quia.<span
          class="inline-block text-red-500">display: inline-block</span>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi eveniet
    vel nihil eius. Amet ut autem totam, eos
    <span class="block text-indigo-600">display: block</span>
    cumque deserunt libero veritatis aspernatur impedit quibusdam quas
    excepturi enim, quae vero?
  </div>

  <div class="my-8">
    <div class="flow-root text-fuchsia-400">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Recusandae, explicabo doloremque dolores doloribus
      adipisci alias aliquam, qui ex tempora consequatur odit reiciendis
      pariatur quae eos. Explicabo laborum sit
      pariatur voluptatum!
    </div>
    <div class="flow-root text-rose-400s">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Recusandae, explicabo doloremque dolores doloribus
      adipisci alias aliquam, qui ex tempora consequatur odit reiciendis
      pariatur quae eos. Explicabo laborum sit
      pariatur voluptatum!
    </div>

  </div>
  <div class="my-8 w-full h-48">
    <p class="ordinal">1st</p>
    <p
       class="font-roboto ordinal slashed-zero tabular-nums oldstyle-nums">
      1934567820
    </p>
    <p class="slashed-zero font-fira-code">0</p>
    <p class="tabular-nums font-roboto">90909</p>
    <p class="tabular-nums">90909</p>
    <p class="diagonal-fractions">
      1/2 3/4 5/6
    </p>
    <p class="stacked-fractions font-fira-code">
      1/2 3/4 5/6
    </p>
    <p
       class="proportional-nums font-roboto hover:tabular-nums tracking-wide">
      1234567890
    </p>

  </div>

  <h1
      class="text-9xl p-4 ring-2 text-slate-900 ring-red-400 antialiased hover:subpixel-antialiased">
    This uses text-white Oswald font
  </h1>

  <h2 class="font-ko-diphy my-8 tracking-widest hover:tracking-wider">
    안녕하세요 반갑습니다.
  </h2>

  <h3 class="font-poppins my-8 italic text-slate-800 tracking-wider">
    Hello, World! Fine Thanks and You?
  </h3>

  <h4 class="font-display my-8 hover:tracking-wider">
    Hello, World! Fine Thanks and You?
    Whereas recognition of the inherent dignity and of the equal and
    inalienable rights of all members of the human
    family is the foundation of freedom, justice and peace in the world,
  </h4>

  <h2 class="font-cute my-8 tracking-wider
    ">
    <strong style="display: block;">font-cute</strong>
    모든 사람은 인종, 피부색, 성, 언어, 종교, 정치적 또는 기타의 견해, 민족적 또는 사회적 출신, 재산, 출생 또는 기타의
    신분과 같은 어떠한 종류의 차별이 없이, 이 선언에 규정된 모든 권리와
    자유를
    향유할 자격이 있다.
  </h2>
  <h2 class="font-dongle my-8 tracking-[.25em]">
    <strong style="display: block;">font-dongle</strong>
    모든 사람은 인종, 피부색, 성, 언어, 종교, 정치적 또는 기타의 견해, 민족적 또는 사회적 출신, 재산, 출생 또는 기타의
    신분과 같은 어떠한 종류의 차별이 없이, 이 선언에 규정된 모든 권리와
    자유를
    향유할 자격이 있다.
  </h2>
  <h6
      class="font-lato my-8 tracking-wider line-clamp-2 hover:line-clamp-10">
    <strong style="display: block;">font-lato</strong>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
    deleniti saepe libero, cum, similique impedit
    accusantium ab eaque excepturi laborum accusamus. Cupiditate debitis
    facere voluptatum odio. Expedita eveniet
    consectetur ut!
  </h6>



  <div class="line-clamp-2 hover:line-clamp-none cursor-pointer">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
    repudiandae ipsam modi soluta fuga! Quisquam iste dolores magni
    recusandae molestias, soluta perferendis eaque nostrum alias. Commodi
    repellendus voluptatum odit ducimus.
  </div>


  <div class="my-2">
    <div class="flex items-center space-x-2 text-base">
      <h4 class="font-semibold text-slate-900">Contributors</h4>
      <span
            class="rounded-full bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-700">204</span>
    </div>
    <div class="mt-3 flex -space-x-2 overflow-hidden">
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
           src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
           alt="" />
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
           src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
           alt="" />
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
           src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
           alt="" />
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
           alt="" />
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white"
           src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
           alt="" />
    </div>
    <div class="mt-3 text-sm font-medium">
      <a href="#" class="text-blue-500">+ 198 others</a>
    </div>
  </div>

  @* -- *@
  <div class="w-full h-screen bg-slate-200">
    <div class="title">Hi Everyone Good</div>
    <div
         class="grid grid-cols-8 max-md:grid-cols-4 gap-1 p-4 content-center">
      <div class="w-24 h-24 bg-red-500 p-lg">1</div>
      <div class="w-24 h-24 bg-red-500 p-4">2</div>
      <div
           class="w-full h-24 bg-rose-500 col-span-2 content-center text-center">
        <button
                class="bg-violet-500
            hover:bg-violet-600
            active:bg-violet-700
            text-white
                    px-4 p-2 rounded-full
                  focus:outline-none
                    focus:ring
                    focus:ring-violet-300">
          Save Changes
        </button>
      </div>
      <div class="w-24 h-24 bg-transparent text-slate-800">
        transparent
      </div>

      <div class="w-24 h-24 bg-metal text-bermuda">
        metal
      </div>
      <div
           class="w-24 h-24 bg-primary text-secondary rounded-full ring-2 ring-white content-center text-center">
        primary
      </div>
      <div class="w-24 h-24 bg-rose-300 text-red-300">
        rose
      </div>
      <div
           class="w-full h-full col-span-5 row-span-2 bg-blue-500 place-content-center text-center">
        2</div>
      <div
           class="w-24 h-24 bg-red-500 content-center text-center opacity-50">
        opacity 50
      </div>
      <div class="w-24 h-24 bg-red-500">2</div>
      <div class="w-24 h-24 bg-emerald-500">
        emerald
      </div>
      <div
           class="w-24 h-24  bg-sky-800 text-slate-50 text-xl content-center text-center">
        2</div>
      <div
           class="w-24 h-24 tablet:bg-sky-500 laptop:bg-violet-500 desktop:bg-yellow-500 bg-pink-500 text-bubble-gum">
        tablet, laptop, desktop
      </div>
      <div class="w-24 h-24 bg-fuchsia-800 text-lime-400">
        fuchsia
      </div>
      <div class="w-24 h-24 bg-brown-500 text-white">
        brown
      </div>
      <div class="w-24 h-24 bg-tahiti-dark text-tahiti-100">
        tahiti dark
      </div>
      <div class="w-24 h-24 bg-yellow-500 content-center text-center">
        yellow
      </div>
      <div class="w-24 h-24 bg-[#1da1f2] text-white">
        Arbitrary Values
      </div>
      <div class="w-24 h-24 bg-space">2</div>
      <div
           class="w-24 h-24 bg-blue-600 content-center text-center text-3xl text-white">
        2</div>
    </div>

    <div class="grid grid-cols-footer bg-sky-300">
      <div>1</div>
      <div class="bg-rose-300 text-center">2</div>
      <div>3</div>
    </div>

    <div class="m-8 grid grid-cols-3 gap-2">
      <button
              class="transition transform tracking-widest
                    font-poppins
                    duration-1000 w-auto h-auto
                    hover:-transition-all
                    px-4 py-2 text-white
                    hover:scale-150 bg-sky-600
                    rounded-xl hover:bg-rose-500">
        transion
      </button>
      <button
              class="transition transform
                    px-4 py-2 text-white bg-rose-400 hover:bg-rose-700
                    size-auto rounded-lg
                    hover:-translate-y-1 motion-reduce:transition-none motion-reduce:transform-none">
        hover me
      </button>
      <button
              class="hover:transition-all size-auto rounded-lg bg-sky-500 hover:bg-sky-800 text-white">
        All
      </button>

      <button
              class="transition duration-1000
                    hover:scale-150
                    motion-reduce:transform-none
                    ease-in px-4 py-2 rounded-lg bg-teal-400 hover:bg-yellow-700">
        Button A
      </button>
      <button
              class="transition duration-1000
                    hover:scale-150
                    motion-reduce:transform-none
                    ease-out px-4 py-2 rounded-lg bg-teal-400 hover:bg-yellow-700">
        Button B
      </button>
      <button
              class="transition hover:duration-1000
                    hover:scale-150
                    ease-in-out px-4 py-2 rounded-lg bg-teal-400 hover:bg-yellow-700">
        Button C
      </button>
      <button
              class="transition
                    duration-1000
                    hover:scale-150
                    ease-out-expo
                    hover:ease-in
                    hover:delay-300
                    px-4 py-2 rounded-lg bg-teal-400 hover:bg-yellow-700">
        Button D
      </button>

      <button
              class="transition ease-linear duration-6000 hover:animate-spin size-auto bg-tahiti-500 rounded-lg">
        Spin
      </button>


      <button
              class="size-auto bg-tahiti-500 rounded-lg">
        <svg viewBox="0 0 24 24" fill="none"
             class="animate-spin size-5 content-center text-center"
             xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
             stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M9 3.51221C5.50442 4.74772 3 8.08143 3 12.0001C3 16.9707 7.02944 21.0001 12 21.0001C16.9706 21.0001 21 16.9707 21 12.0001C21 8.08143 18.4956 4.74772 15 3.51221"
                  stroke="#ffffff" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
            </path>
          </g>
        </svg>
      </button>

      <button
              class="size-auto
                    border-2
                    border-slate-400
                    text-slate-500
                    relative rounded-lg px-4 py-2">
        Transactions
        <span class="absolute -right-1.5 -top-1.5 flex size-3">
          <span
                class="animate-ping absolute bg-red-400 opacity-75 inline-flex h-full w-full rounded-full">
          </span>
          <span
                class="relative inline-flex rounded-full size-3 bg-red-500">
          </span>
        </span>
      </button>

      <button
              class="p-2 translate-x-6 animate-bounce size-14 text-slate-800 rounded-full border shadow-md">
        <p class="animate-pulse">
          <span class="material-symbols-outlined">
            south
          </span>
        </p>
      </button>

      <button type='button'>
        <p class="animate-pulse">
          <span
                class="motion-safe:animate-spin-slow material-symbols-outlined">
            progress_activity
          </span>
        </p>
      </button>
      <img src='images/lake.webp'
           class="object-cover rounded-lg scale-75
                 translate-x-4 skew-y-3
                 hover:transform-none transform-gpu
                 ring-2 ring-white shadow-lg shadow-neutral-500"
           size-48 alt=''>

      <img src='images/robot-woman.webp'
           class="object-cover rounded-full
                 transition ease-linear
                 origin-bottom
                 hover:animate-spin-slow"
           alt=''>

      <div
           class='size-48 rounded-lg bg-rose-400 border-4 shadow-md shadow-slate-500'>
      </div>
      <div
           class='size-48 rounded-lg bg-rose-400 border-4 shadow-slate-500 shadow-md'>
      </div>
      <div
           class='size-48 rounded-lg bg-rose-400 border-4 shadow-xl shadow-slate-500'>
      </div>
      <div
           class='size-48 rounded-lg bg-rose-400 border-8 opacity-75 shadow-inner shadow-slate-500'>
      </div>

      <div class='flex justify-center col-span-2 -space-x-14'>
        <div
             class="w-48 h-48 mix-blend-multiply bg-blue-400 rounded-full">
        </div>
        <div
             class="w-48 h-48 mix-blend-multiply hover:mix-blend-overlay bg-pink-400 rounded-full">
        </div>
      </div>

      <div
           class="w-48 h-48  bg-red-500 bg-blend-darken hover:bg-blend-lighten">
        <img src='images/robot-man.webp' alt=''
             class='size-auto blur-sm invert hover:filter-none'>
      </div>

      <div
           class="w-48 h-48 bg-red-500 bg-blend-darken hover:bg-blend-lighten">
        <img src='images/robot-man.webp' alt=''
             class='size-auto grayscale hover:filter-none invert'>
      </div>

      <div
           class="w-48 h-48 bg-red-500 bg-blend-darken hover:bg-blend-lighten">
        <img src='images/robot-man.webp' alt=''
             class='size-auto grayscale hover:grayscale-0'>
      </div>

      <div
           class="bg-[url('/images/robot-man.webp')] bg-cover flex justify-center items-center">
        <div
             class="w-32 h-32 bg-white/30 backdrop-blur-[2px] hover:backdrop-filter-none">
        </div>
      </div>

      <div
           class="bg-[url('/images/robot-man.webp')] h-48 w-48 bg-cover flex justify-center items-center">
        <div
             class="w-32 h-32 bg-white/30 backdrop-brightness-150 hover:backdrop-filter-none">
        </div>
      </div>
    </div>

    <div class="flex w-full h-auto p-4">
      <table
             class="table w-full h-[100%] border border-slate-400">
        <caption class="caption-bottom">
          Table Caption
        </caption>
        <thead>
          <tr>
            <th class="border border-slate-300">Name</th>
            <th class="border border-slate-300">Age </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-slate-300">Viv </td>
            <td class="border border-slate-300">Fine</td>
          </tr>
          <tr>
            <td class="border border-slate-300">Viv </td>
            <td class="border border-slate-300">Fine</td>
          </tr>
          <tr>
            <td class="border border-slate-300">Viv </td>
            <td class="border border-slate-300">Fine</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full h-auto flex justify-center">
      <select name="test" id="test" class="w-1/2 my-8
            bg-slate-50
            border border-slate-400
            py-2 px-4 text-center rounded-lg
            appearance-none">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="w-full h-auto grid grid-cols-3 p-4 gap-1">
      <button
              class="bg-rose-500 text-white
                    cursor-wait
                    px-4 py-2 rounded-lg">Button-1</button>
      <button
              class="bg-rose-500 text-white
                    cursor-help
                     px-4 py-2 rounded-lg">Button-2</button>
      <button
              class="bg-rose-500 text-white
                    cursor-move
                    px-4 py-2 rounded-lg">Button-3</button>
      <button
              class="bg-rose-500 text-white
                    cursor-not-allowed
                    px-4 py-2 rounded-lg">Button-4</button>
      <button
              class="bg-rose-500 text-white
                    cursor-text
                    px-4 py-2 rounded-lg">Button-5</button>
      <button
              class="bg-rose-500 text-white
                    cursor-auto
                    px-4 py-2 rounded-lg">Button-6</button>
      <button
              class="bg-rose-500 text-white
                    cursor-default
                    px-4 py-2 rounded-lg">Button-7</button>
      <button
              class="bg-rose-500 text-white
                    cursor-pointer
                    px-4 py-2 rounded-lg">Button-8</button>
      <button
              class="bg-rose-500 text-white px-4 py-2 rounded-lg">Button-9</button>

      <button type="button" class="bg-sky-500"></button>




    </div>

    <div class="grid grid-cols-1 gap-1 px-2 my-8">
      @* text *@
      <label for="text" class="text-slate-500">Text</label>
      <input type="text"
             name="text"
             id="text"
             class="px-2 py-2 rounded-md focus:border-teal-500 focus:ring-0">
      @* password *@
      <label for="password" class="text-slate-500">Password</label>
      <input type="password"
             id="password"
             class="caret-slate-600 focus:ring-0 focus:border-orange-500 rounded-md">
      @* email *@
      <label for="email" class="text-slate-500">Email</label>
      <input type="email" id="email"
             class="focus:ring-0 focus:border-cyan-500 px-4 py-3 rounded-full">

      @* number *@
      <label for="number" class="text-slate-500">Number</label>
      <input type="number" id="number"
             class="focus:ring-0 focus:border-pink-500 rounded-md">

      @* url *@
      <label for="url" class="text-slate-500">URL</label>
      <input type="url" id="url"
             class="focus:ring-0 focus:border-green-500 rounded-md">

      @* date *@
      <label for="date" class="text-slate-500">Date</label>
      <input type="date" id="date"
             class="focus:ring-0 focus:border-emerald-500 rounded-md">


      @* datetime *@
      <label for="datetime" class="text-slate-500">Datetime</label>
      <input id="datetime"
             type="datetime-local"
             class="focus:ring-0 focus:border-teal-500 rounded-md">

      @* month *@
      <label for="month" class="text-slate-500">Month</label>
      <input type="month" id="month"
             class="focus:ring-0 focus:border-lime-500 rounded-lg">

      @* week *@
      <label for="week" class="text-slate-500">Week</label>
      <input type="week" id="week"
             class="focus:ring-0 focus:border-amber-500 rounded-md">


      @* time *@
      <label for="time" class="text-slate-500">Time</label>
      <input type="time" id="time"
             class="focus:ring-0 focus:border-fuchsia-500 rounded-md">

      @* search *@
      <label for="search" class="text-slate-500">Search</label>
      <input type="search" id="search"
             class="focus:ring-0 focus:border-indigo-500 rounded-md">
      @* tel *@
      <label for="tel" class="text-slate-500">Tel</label>
      <input type="tel" id="tel"
             class="focus:ring-0 focus:border-violet-500">


      <input type="checkbox" class="rounded text-pink-500">
      <input type="radio">

      <textarea name="textarea" id="area" rows="5"
                class="resize-none p-4
                      focus:border-rose-500 focus:ring-0
                      rounded-md"
                placeholder="textarea"></textarea>

    </div>


    <div class="grid grid-cols-3 divide-x divide-green-500">
      <div class="text-center">01</div>
      <div class="text-center">02</div>
      <div class="text-center">03</div>
    </div>

    <div
         class="grid grid-cols-1 divide-y my-8 divide-dashed divide-violet-500">
      <div
           class="p-2 text-center text-slate-500 bg-teal-50 h-24 content-center">
        01</div>
      <div
           class="p-2 text-center text-slate-500 h-24 content-center">
        02</div>
      <div
           class="p-2 text-center text-slate-500 bg-teal-50 h-24 content-center">
        03</div>


    </div>
    <div class="my-8 flex justify-center items-center">
      <button type="button"
              class="outline outline-offset-4 outline-4 outline-red-400 px-4 py-3 bg-violet-200 rounded-full">
        Fine Thanks
      </button>
    </div>

    <div
         class="bg-[url('/images/robot-man.webp')] m-4 h-48
             rounded-full bg-cover
             bg-center bg-no-repeat bg-blend-darken
            w-48 bg-clip-content border-dashed border-4 border-violet-500">

    </div>

    <div class="text-5xl font-extrabold w-full h-48 text-center">
      <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-rose-500 to-violet-500">Hello
        World</span>
    </div>

    <div class="grid grid-cols-3 gap-4 my-8 mx-4">
      <button class="px-4 py-2 bg-sky-500/100"> Button A </button>
      <button class="px-4 py-2 bg-sky-500/75">Button B</button>
      <button class="px-4 py-2 bg-sky-500/50"> Button C </button>
    </div>

    <div class="grid my-8 mx-4 grid-cols-1">
      <div class="bg-gradient-to-r my-1 from-indigo-500 w-full h-12">
      </div>
      <div class="bg-gradient-to-r my-1 from-cyan-500 to-blud-500 h-12">
      </div>
      <div
           class="bg-gradient-to-r my-1 from-indigo-500 via-purple-500 to-pink-500 h-12">
      </div>
      <div
           class="bg-gradient-to-r my-1 from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% h-12">
      </div>

      <button type="button"
              class="bg-gradient-to-r
                    from-teal-400
                    to-blue-500
                    h-12
                    my-1
                    rounded-full
                    border-4

                    border-violet-500
                    border-dotted
                    border-opacity-50
                    bg-clip-content
                    hover:from-pink-500 hover:to-orange-500">
        Hover me
      </button>

      <p class="line-clamp-10 hover:line-clamp-none cursor-pointer">
        Lorem ipsum dolor sit
        <a href="#"
           class="underline decoration-red-600 underline-offset-4 decoration-wavy">My
          Company, Inc
        </a>
        amet consectetur, adipisicing elit.
        <a href="#"
           class="underline decoration-rose-800 decoration-1 underline-offset-4 decoration-dotted">My
          Hello, World Fine Thanks and You?
        </a>
        Doloribus modi, illo totam autem commodi dolorum esse enim
        laudantium magnam voluptatum
        <a href="#"
           class="underline decoration-sky-800 decoration-double">My
          ViVaKR
        </a>
        pariatur sapiente similique tempore
        tenetur nostrum deleniti vero culpa accusantium?
      </p>

      <p class="uppercase text-orange-500">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Perferendis, mollitia adipisci? Iste, magnam excepturi deserunt
        nobis delectus suscipit distinctio incidunt exercitationem
        soluta expedita aliquam accusantium! Beatae ullam recusandae
        fuga voluptatibus.
      </p>
      <p class="capitalize text-green-500">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima
        reiciendis, iusto labore quasi voluptas animi vel vitae ex
        accusantium? Sit, repudiandae recusandae tempore molestiae
        excepturi cumque maxime temporibus mollitia ipsum.
      </p>
      <p class="lowercase text-zinc-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
        facere expedita, excepturi similique itaque fugiat voluptatibus
        harum tempora quis aperiam optio voluptates veniam sint saepe
        necessitatibus, tenetur quae quibusdam commodi.
      </p>
      <div
           class="h-24 w-full my-8 border-4 border-amber-500 bg-clip-content rounded-lg
                 p-4 border-dotted text-amber-500
                 line-clamp-3
                 tracking-wider
                 hover:line-clamp-none hover:h-auto">

        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minima
        facere expedita, excepturi similique itaque fugiat
        voluptatibus
        harum tempora quis aperiam optio voluptates veniam sint
        saepe
        necessitatibus, tenetur quae quibusdam commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque
        in ea natus non ipsam doloremque molestiae nemo dolor
        commodi
        est, vero sint totam consequuntur rerum aliquid! Tenetur,
        placeat alias? Perferendis!

      </div>

      <div class="text-pink-500 text-pretty h-48">
        <h3>Beloved Manhattan soup stand closes</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Asperiores, distinctio veritatis nostrum saepe dolorem alias
          facere reprehenderit ratione vitae illo aperiam nihil non
          eos
          optio incidunt quis dolore praesentium illum.
          Reprehenderit sed aspernatur libero quaerat iure facere
          earum
          ducimus natus dolor quo in nihil dolore est modi reiciendis
          facilis consequuntur, pariatur commodi, blanditiis labore
          distinctio maxime, neque iusto. Repellendus, dolore?===
        </p>

      </div>

      <div class="text-rose-500 text-wrap
            indent-20
            hover:text-balance h-48">
        <h3>Beloved Manhattan soup stand closes</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Asperiores, distinctio veritatis nostrum saepe dolorem alias
          facere reprehenderit ratione vitae illo aperiam nihil non
          eos
          optio incidunt quis dolore praesentium illum.
          Reprehenderit sed aspernatur libero quaerat iure facere
          earum
          ducimus natus dolor quo in nihil dolore est modi reiciendis
          facilis consequuntur, pariatur commodi, blanditiis labore
          distinctio maxime, neque iusto. Repellendus, dolore?===
        </p>

      </div>
      <div class="w-full h-48 border-4 border-dotted rounded-sm">
        <img src="images/robot-man.webp" class="w-48 rounded-md" alt="">
        <span
              class="w-full
                        rounded-md
                        text-rose-500
                        h-24
                        align-bottom

                        p-2 bg-amber-200">
          Hello, World!
        </span>
      </div>

      <div class="w-3/4 my-8">
        <div class="whitespace-pre">
          Hey everyone!

          It's almost 2022 and we still don't know if there is aliens
          living among us, or do we? Maybe the person writing this is
          an alien.

          You will never know.
        </div>
        <code class="m-4">
                    Hello            World
                </code>
      </div>

      <div class="w-3/4">
        <div class="whitespace-normal hover:whitespace-pre">Hey
          everyone!

          It's almost 2022 and we still don't know if there is aliens
          living among us, or do we? Maybe the person writing this is
          an alien.

          You will never know.</div>
      </div>

      <p class="my-8 break-words hover:break-keep leading-loose">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Deserunt voluptatum omnis ipsam perferendis, tempora mollitia
        autem incidunt odit facere obcaecati velit culpa consequatur
        exercitationem possimus suscipit labore sunt, ab eligendi.
      </p>

      <div before="Hello World"
           after="Fine Thanks And You!"
           class="before:content-[attr(before)]
                 after:content-[attr(after)]
                 hover:before:content-['Hovering']
                 ">

        Hi Everyone
      </div>

      <div class="my-8">
        <p class="leading-relaxed text-red-500">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Magni, assumenda, ea cupiditate aperiam nobis quod laborum
          unde quaerat nisi odit recusandae blanditiis reiciendis
          magnam atque iusto incidunt accusantium repellat laudantium.
          Quisquam, quod. Quisquam, quod.
        </p>
        <p class="leading-loose my-2 text-amber-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In
          corrupti maxime quaerat dolores illum non, impedit optio
          ipsam vitae! Reiciendis qui eaque iste saepe molestiae fuga
          assumenda ipsam ex est?
        </p>
        <p class="leading-5 text-neutral-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Asperiores voluptate et laudantium molestias dignissimos
          error nesciunt sed deleniti culpa laboriosam facere maxime
          optio recusandae, quo dolorem reiciendis perferendis minus
          ratione?
        </p>

        <ul
            class="my-4 list-inside list-image-checkmark">
          <li>Hello, World fine Thanks</li>
          <li>Hello, World</li>
          <li>Hello, World</li>
        </ul>

        <ul
            class="list-inside list-circle mb-4">
          <li>Hello, World</li>
          <li>Hello, World</li>
          <li>Hello, World</li>
        </ul>
        <ul
            class="list-inside list-roman">
          <li>Hello, World</li>
          <li>Hello, World</li>
          <li>Hello, World</li>
        </ul>
      </div>


    </div>

    <div class="flex flex-row gap-1 h-24">
      <div class="bg-rose-500 basis-1/4 rounded-lg">01</div>
      <div
           class="bg-rose-500
                 content-center text-center text-emerald-200
                 basis-1/4 rounded-lg">02</div>
      <div class="bg-rose-500 basis-1/2 rounded-lg">03</div>
    </div>











    <div class="h-[500px] w-full bg-slate-100 p-4 my-64 rounded-md">
      Hello, World
    </div>

  </div>
</div>

@* transition : 전환 *@
@* transform : 변환 *@
@* translate :  *@
@* tracking *@

@*
    --> transition 속성
    ease : 기본값으로 시작과 끝부분이 느리고 중간이 빠르게 움직임
    linear : 시작부터 끝까지 일정한 속도로 움직임
    ease-in : 시작부분이 느리고 끝부분이 빠르게 움직임
    ease-out : 시작부분이 빠르고 끝부분이 느리게 움직임
    ease-in-out : 시작과 끝부분이 느리고 중간이 빠르게 움직임*@


@*<iframe class="w-full aspect-video hover:aspect-square mb-96" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> *@

@code
{

}
