@page "/demo/demod"
@rendermode InteractiveServer

<div class="container h-screen py-24">
    <h3>DemoD</h3>
    <header>Demo D</header>
    <nav>Nav</nav>
    <main>Main Body</main>
    <aside>Aside</aside>
    <section>Section</section>
    <article>Artivle</article>
    <div class="w-full h-12"></div>
    <footer>Footer</footer>
</div>

@code {
    private string Url { get; set; } = "DemoD";
}
