@page "/games"
@inject IGameService GameService
@attribute [StreamRendering(true)]

<h3>GameList</h3>

@if (games == null)
{
    <p>Data Loading...</p>
    <br />
}
else if (!games.Any())
{
    <span>No Games Found</span>
}
else
{
    <ul>
    @foreach (var game in games)
        {

            <li class="flex">@game.Id - @game.Name
                <EditGameButton Id="game.Id" />
            </li>
        }
    </ul>
}
<br />
<CreateGameButton />

@code {

    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }
}
