@page "/"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

@using BlazorTicTacToe.Shared

<h3 class="client-title">Lobby</h3>

<input type="text"
       class="client-input"
       @bind="playerName"
       placeholder="Your Name" />

<input type="text"
       class="client-input"
       @bind="currentRoomName"
       placeholder="Room Name" />

<button
        @onclick="CreateRoom"
        class="client-ok-button">
    Create Room
</button>

<h3 class="client-title">Rooms: </h3>
@code
{
    private HubConnection? _hubConnection; // The SignalR hub connection

    private string playerName = string.Empty; // The player's name

    private string currentRoomName = string.Empty; // The name of the room the player is currently in (if any)

    private GameRoom? currentRoom; // The room the player is currently in (if any)

    private List<GameRoom> rooms = []; // The list of rooms

    protected override async Task OnInitializedAsync()
    {
        // Create a new hub connection
        _hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/gamehub")).Build();

        // Register for the OnRooms event
        _hubConnection.On<List<GameRoom>>("Rooms", rooms => { Console.WriteLine($"We got rooms! Count = {rooms.Count()}"); });

        // Start the connection
        await _hubConnection.StartAsync();
    }


    private async Task CreateRoom()
    {
        if (_hubConnection == null)
            throw new InvalidOperationException("Hub connection is not initialized");

        currentRoom = await _hubConnection.InvokeAsync<GameRoom>("CreateRoom", currentRoomName, playerName);
    }
}
